<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogoRemoteServiceURL" value="http://biggplusdb.sanalmagaza.com/logo/update-warehouses" />
    <add key="StoreRemoteServiceURL" value="http://biggplusdb.sanalmagaza.com/logo/update-stocks" />
    <add key="CalculatePriceServiceURL" value="http://biggplusdb.sanalmagaza.com/logo/calculate-prices" />
    <add key="LogoProductStocksWarehouseTypeURL" value="http://biggplusdb.sanalmagaza.com/logo/update-productstockswarehousetype" />
    <!--<add key="ChannelAdvisorOrderURL" value="http://exportapi.sanalmagaza.com/api/integration/get-order"/>
    <add key="ChannelAdvisorQuantityUpdateURL" value="http://exportapi.sanalmagaza.com/api/integration/update-quantity/3"/>
    <add key="ChannelAdvisorQuantityUpdateURL2" value="http://exportapi.sanalmagaza.com/api/integration/update-quantity/15"/>
    <add key="ChannelAdvisorQuantityUpdateURL3" value="http://exportapi.sanalmagaza.com/api/integration/update-quantity/16"/>
    <add key="JoomQuantityUpdateURL" value="http://exportapi.sanalmagaza.com/api/integration/update-price-and-quantity"/>
    <add key="LogoRedisStockCache" value="http://biggplusdb.sanalmagaza.com/logo/LogoStockRedisCache" />-->
    <add key="IntervalTime" value="900000" />
    <add key="IntervalTimeCA" value="1800000" />
    <add key="IntervalPrice" value ="86400000"/>
    <add key="TimeOut" value="200000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="false">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>