<section class="content-header clearfix">
    <h1 class="pull-left">
        Product Groups
        <small>List</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</section>

<script>

    $(function () {

        var crudServiceBaseUrl = "/products";
        // prepare grid datasource
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/product-group-list",
                    dataType: "json"
                },
                update: {
                    url: crudServiceBaseUrl + "/product-group-update",
                    dataType: "json",
                    type: "POST"
                },
                destroy: {
                    url: crudServiceBaseUrl + "/product-group-delete",
                    dataType: "json"
                },
                create: {
                    url: crudServiceBaseUrl + "/product-group-insert",
                    dataType: "json",
                    type: "POST"
                }
            },
            pageSize: 5,
            schema: {
                model: {
                    id: "id"
                }
            }
        });
        // kendo grid
        $("#grid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: {
                refresh: true
            },
            height: 300,
            refresh: true,
            toolbar: ["create"],
            columns: [
                { field: "name", title: "Name" },
                { field: "code", title: "Code" },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
            ],
            editable: "popup"
        });
    })
</script>